body {
   font-family: "Poppins", sans-serif;
    margin: 0;
    
    background: linear-gradient(135deg, #1b1b42, #541092);
    /* 135deg = ângulo do degradê, pode ser alterado */
}

#inicio{
  font-size: 25px;
  text-align: center;
  color: #fff;
}
#ds{
  font-size: 16px;
  color: #aaaa;
}

.txt{
  width: 300px;
  display: block; 
  font-size: 16px;
  outline: none;
  border: none;
  color: #aaaa;
  background-color: #212153;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;

}

#enviar{
  color: #aaa;
  background-color: #953be6;
}

#env{
  display: block;
  text-align: center;
  color: #fff;
}




.slider {
  display: block;
  position: relative;
  width: 200px;   /* ajuste para o tamanho desejado */
  height: 200px;
  overflow: hidden;
  margin: 100px auto;
  border-radius: 10px;
}

.slides {
  display: flex;               /* deixa as imagens lado a lado */
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out; /* animação suave do deslize */
}

.slide {
  min-width: 100%;             /* cada slide ocupa 100% do container */
  height: 100%;
  object-fit: cover;           /* para as imagens preencherem bem */
}






.accordion-btn {
  display: block;
  width: 300px;
  margin: 10px auto;
  background-color: #212153;
  color: #aaaa;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 16px;
  transition: background 0.3s ease;
}

.accordion-btn:hover {
  background-color: #953be6;
}

.accordion-content {
  
  border-radius: 0 0 10px 10px;
  display: block;
  width: 300px;
  margin: 10px auto;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  background: #c9cdd6;
  padding: 0 15px;
  transition: max-height 0.3s ease;
}

.accordion-content p {
  margin: 10px 0;
}